body {
  background-color: darksalmon;
}

h1 {
  text-align: center;
}

.chat {
  background-color: darkviolet;
  text-align: center;
  margin: 10px;
  width: 50%;
  padding: 10px;
}

.chat-box {
  display: flex;
  justify-content: center;
}

